:root {
    --white: #fff;
    --dark-red: #AC1216;
    --red: #E11D2E;
    --grey: #71768E;
    --dark-grey: #384D70;
    --black: #000;
    --light-black: #071022;
    --brown: #5A4039;
    --orange: #FF9429;
    --blue: #067CCB;
    --violet: #30298C;
}