.header-menu {
    padding: 168px 0 20px;
    background: url("../../images/header-menu.png") no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.header-menu__bg {
    position: absolute;
    z-index: 0;
}

.header-menu__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu__text {
    max-width: 848px;
}

h1 {
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 5px;
} 

h1 span {
    color: var(--red);
}

.header-menu__text__min {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: var(--grey);
    margin-bottom: 40px;
}

.header-menu__text__max {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: var(--grey);
    margin-bottom: 46px;
}

.header-menu__btn-red {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    padding: 25px 58px;
    background-color: var(--red);
    margin-right: 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.header-menu__btn-red:hover {
    background-color: var(--white);
    color: var(--red);
}

.header-menu__btn {
    display: flex;
    margin-bottom: 20px;
}

.header-menu__btn-trans {
    font-size: 22px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.9);
    padding: 27px 48px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    transition: .5s;
}

.header-menu__btn-trans:hover {
    color: var(--red);
    background-color: #fff;
}

.header-menu__pic {
    max-width: 592px;
    margin-right: 125px;
}

.header-menu__pic img {
    max-width: 592px;
    width: 100%;
}

.header-menu__label span {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.2);
}

.header-menu__label {
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 14px 28px;
    max-width: 680px;
    margin-right: 25px;
    width: 100%;
}

.header-menu__label input {
    background-color: transparent;
    font-size: 25px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.4);
}

.header-menu__label__string {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.header-menu__label__string i {
    font-size: 30px;
    cursor: pointer;
}

.header-menu__pic__hidden {
    display: none;

}

@media(max-width: 1325px) {
    h1 {
        font-size: 60px;
        line-height: 68px;
        margin-bottom: 30px;

    }

    .header-menu__text__min {
        font-size: 18px;
        line-height: 26px;
    }
    
    .header-menu__text__max {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;

    }
    
    .header-menu__block {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .header-menu__pic {
        display: none;
    }

    .header-menu__pic__hidden {
        display: block;
        max-width: 592px;
        width: 100%;
        margin: 0 auto 50px;
    }

    .header-menu__text {
        text-align: center;
    }

    .header-menu__btn {
        justify-content: center;
    }

    .header-menu__text__max {
        width: 100%;
    }

    .header-menu__label__string {
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media(max-width: 720px) {
    .header-menu__btn {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    .header-menu__btn-red {
        margin-right: 0;
    }

    .header-menu__label {
        width: 100%;
    }

    .header-menu__label input {
        font-size: 16px;
        text-align: center;
        
    }

    .header-menu__btn-red,
    .header-menu__btn-trans {
        width: 100%;
        font-size: 20px;
    }
}

@media(max-width: 514px) {
    .header-menu__label input {
        font-size: 12px;
    }
}

@media(max-width: 422px) {
    .header-menu__label input {
        font-size: 10px;
    }
}