.how-it-works {
    padding: 0 0 100px;
}

.how-it-works h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.how-it-works__blocks {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
}

.how-it-works__block {
    padding: 40px;
    background-color: var(--dark-grey);
    border-radius: 20px;
    transition: 0.5s;
    width: 100%;
}

.how-it-works__block:hover {
    background: rgba(255, 255, 255, 0.05);
}

.how-it-works__wrapper {
    max-width: 416px;
    width: 100%;
}

.how-it-works__block h3 {
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    margin: 30px 0 10px;
}

.how-it-works__desc__small {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.3;
}

.how-it-works__desc__normal {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
}

@media(max-width: 1525px) {
    .how-it-works {
        padding: 60px 0 100px;
    }

    .how-it-works__block {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 1325px) {
    .how-it-works__blocks {
        flex-wrap: wrap;
        max-width: 850px;
        margin: 0 auto;
    }
}

@media(max-width: 514px) {

    .how-it-works h2 {
        margin-bottom: 15px;
    }
    .how-it-works__desc__small {
        font-size: 14px;
        line-height: 18px;
    }
    
    .how-it-works__desc__normal {
        font-size: 18px;
        line-height: 22px;
        margin-top: 15px;
    }

    .how-it-works__block h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 30px 0 10px;
    }

    .how-it-works {
        padding: 25px 0;
    }
}